<h4>Một số dự án đã thực hiện</h4>
<ul>
  <li>Mô hình hệ thống nhà kính IOT ứng dụng công nghệ LoRa giám sát, điều khiển ở mọi nơi thông qua Server Node.js, phần mềm C# dùng cảm biến CO2 COZIR-AX-5000, cảm biến nhiệt độ DS18B20, cảm biến cường độ sáng BH1750, vđk AVR, module LoRa Ra-01 và module ESP32 [<a href="/">demo</a>]</li>
</ul>

<br>

<h4>Một số đề tài đã thực hiện</h4>
<ul>
  <li>Robot dò đường dùng cảm biến hồng ngoại và vđk 8051 [<a href="/">demo</a>]</li>
  <li>Robot tránh vật cản dùng cảm biến siêu âm SRC-04, động cơ Servo và vđk 8051 [<a href="/">demo</a>]</li>
  <li>Mô hình thang máy dùng vđk 8051 [<a href="/">demo</a>]</li>
  <li>Mô hình cửa tự động điều khiển động cơ bước dùng vđk 8051 [<a href="/">demo</a>]</li>
  <li>Mô hình giám sát, điều khiển thông qua RF dùng vđk 8051/AVR [<a href="/">demo</a>]</li>
  <li>Mô hình giám sát, điều khiển bằng phần mềm C# thông qua UART dùng vđk 8051/AVR [<a href="/">demo</a>]</li>
  <li>Mô hình đèn cầu thang dùng cảm biến chuyển động và vđk AVR [<a href="/">demo</a>]</li>
  <li>Mô hình phân rót nước tự động dùng cảm biến hồng ngoại và vđk AVR [<a href="/">demo</a>]</li>
  <li>Mô hình phân loại sản phẩm theo màu sắc dùng cảm biến TCS3200/230 và vđk AVR [<a href="/">demo</a>]</li>
  <li>Mô hình phân loại sản phẩm theo chiều cao, kích thước dùng cảm biến hồng ngoại và vđk AVR [<a href="/">demo</a>]</li>
  <li>Mô hình đếm và phân loại sản phẩm dùng cảm biến hồng ngoại và vđk AVR [<a href="/">demo</a>]</li>
  <li>Mô hình điều khiển thiết bị bằng giọng nói dùng module Bluetooth HC-06 và Arduino [<a href="/">demo</a>]</li>
  <li>Mô hình đếm số bước chân dùng cảm biến gia tốc MPU6050 (hoặc ADXL345) và Arduino [<a href="/">demo</a>]</li>
  <li>Mô hình khóa cửa tích hợp chống trộm dùng thẻ RFID, Keypad, module SIM900A Mini và Arduino [<a href="/">demo</a>]</li>
  <li>Mô hình báo cháy dùng cảm biến khí Gas MQ-2, module SIM900A Mini và Arduino [<a href="/">demo</a>]</li>
  <li>Mô hình chuồng trại cho gia súc ăn tự động theo cân nặng dùng cảm biến Loadcell và Arduino [<a href="/">demo</a>]</li>
  <li>Mô hình nhà thông minh giám sát, điều khiển thông qua ứng dụng Blynk dùng module ESP8266 [<a href="/">demo</a>]</li>
  <li>Mô hình nhà thông minh giám sát, điều khiển thông qua Webserver nhúng trên module ESP8266 [<a href="/">demo</a>]</li>
  <li>Mô hình lò sấy nông sản theo dõi, điều khiển thông qua Websocket nhúng trên module ESP8266 [<a href="/">demo</a>]</li>
  <li>Mô hình nhà thông minh IOT giám sát, điều khiển ở mọi nơi thông qua giao diện Web dùng module ESP8266 [<a href="/">demo</a>]</li>
  <li>Mô hình nhà thông minh IOT giám sát, điều khiển ở mọi nơi thông qua giao diện phần mềm C# dùng module ESP8266 [<a href="/">demo</a>]</li>
</ul>
