<div class="control-wrapper">
  <div class="control">
    <div class="switch-wrapper">
      <div class="switch">
        <div class="switch-title">Thiết bị 1 (Thủ công)</div>
        <div class="switch-image">
          <image src="images/device1.jpg" />
        </div>
        <button class="switch-toggle onoff1">Bật</button>
      </div>
    </div>

    <div class="switch-wrapper">
      <div class="switch">
        <div class="switch-title">Thiết bị 2 (Thủ công)</div>
        <div class="switch-image">
          <img src="images/device2.jpg" />
        </div>
        <button class="switch-toggle onoff2">Bật</button>
      </div>
    </div>

    <div class="switch-wrapper">
      <div class="switch">
        <div class="switch-title">Thiết bị 3 (Thủ công)</div>
        <div class="switch-image">
          <img src="images/device3.jpg" />
        </div>
        <button class="switch-toggle onoff3">Bật</button>
      </div>
    </div>

    <div class="switch-wrapper">
      <div class="switch">
        <div class="switch-title">Thiết bị 4 (Thủ công)</div>
        <div class="switch-image">
          <img src="images/device4.jpg" />
        </div>
        <button class="switch-toggle onoff4">Bật</button>
      </div>
    </div>

    <div class="switch-wrapper">
      <div class="switch">
        <div class="switch-title">Thiết bị 5 (Tự động theo nhiệt độ)</div>
        <div class="switch-image">
          <img src="images/device4.jpg" />
        </div>
        <div class="switch-input">
          <input id="settemp" type="number" value="30"></input>
        </div>
        <button class="switch-apply settemp">Áp dụng</button>
      </div>
    </div>
  </div>
</div>
