<h4>Giới thiệu</h4>
<p>Đây là Server được thiết kế dành riêng cho dự án "Mô hình hệ thống nhà kính IOT ứng dụng công nghệ LoRa giám sát, điều khiển ở mọi nơi thông qua Server Node.js, phần mềm C# dùng cảm biến CO2 COZIR-AX-5000, cảm biến nhiệt độ DS18B20, cảm biến cường độ sáng BH1750, vđk AVR, module LoRa Ra-01 và module ESP32" được giới thiệu vào ngày 01/05/2018 và trong dự án này có sự tham gia của các thành viên sau:</p>

<ul>
  <li><strong>Vũ Văn Phát:</strong> Xây dựng Gateway, xây dựng Node CO2, xây dựng Server, xây dựng phần mềm. Đánh giá sự ảnh hưởng của khí CO2 đến cây trồng trong nhà kính</li>
  <li><strong>Vũ Duy Khánh:</strong> Xây dựng Node Nhiệt độ. Đánh giá sự ảnh hưởng của nhiệt độ đến cây trồng trong nhà kính và vẽ biểu đồ nhiệt độ tại các điểm</li>
  <li><strong>Lương Minh Thu:</strong> Xây dựng Node Xuyên sáng. Đánh giá mức độ xuyên sáng, cường độ sáng trước và sau khi qua một số loại lưới cắt nắng</li>
</ul>

<p>Xin chân thành cảm ơn <strong>ThS. Lại Văn Song</strong> đã tạo điều kiện giúp đỡ chúng tôi để hoàn thành dự án này!</p>

<br>

<h4>Cập nhật</h4>
<ul>
  <li>[30/05/2018] Biểu đồ nhiệt độ tại các điểm vào trang Giám sát</li>
  <li>[30/05/2018] Nhãn hiển thị cường độ sáng trước và sau khi qua lưới vào trang Giám sát</li>
  <li>[04/05/2018] Trang Dự báo thời tiết dự báo tình trạng thời tiết sắp diễn ra trong những ngày liên tiếp</li>
</ul>

<br>

<h4>Tính năng</h4>
<ul>
  <li>Trang Giám sát cho phép theo dõi các thông số có trong nhà kính</li>
  <li>Trang Điều khiển cho phép điều khiển các thiết bị trong nhà kính</li>
  <li>Có hệ thống đưa ra lời khuyến nghị tùy vào thuộc mức độ của thông số</li>
  <li>Các thông số được theo dõi thời gian thực, cập nhật tức thời và ổn định</li>
  <li>Các thiết bị được điều khiển tức thời, đáp ứng nhanh và ổn định</li>
</ul>
