<div class="monitoring-wrapper">
  <div class="monitoring">
    <div class="display-wrapper">
      <div class="display">
        <div class="display-title">
          Nồng độ CO2
        </div>
        <div class="display-gauge">
          <div id="jgCO2"></div>
        </div>
        <div class="display-content">
          <div class="display-level">
            <span class="level-title">Mức độ:</span> <span class="co2-level"></span>
          </div>
          <div class="display-suggest">
            <span class="suggest-title">Đề nghị:</span> <span class="co2-suggest"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="display-wrapper">
      <div class="display">
        <div class="display-title">
          Nhiệt độ
        </div>
        <div class="display-gauge">
          <div id="jgTemp"></div>
        </div>
        <div class="display-title">
          Biểu đồ nhiệt độ tại các điểm
        </div>
        <div class="display-chart">
          <canvas id="chtTemp"></canvas>
        </div>
        <div class="display-content">
          <div class="display-level">
            <span class="level-title">Mức độ:</span> <span class="temp-level"></span>
          </div>
          <div class="display-suggest">
            <span class="suggest-title">Đề nghị:</span> <span class="temp-suggest"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="display-wrapper">
      <div class="display">
        <div class="display-title">
          Độ xuyên sáng
        </div>
        <div class="display-gauge">
          <div id="jgLight"></div>
        </div>
        <div class="display-detail">
          <div>Cường độ ánh sáng chưa qua lưới: <span class="light-before">0</span>lx</div>
          <div>Cường độ ánh sáng khi qua lưới: <span class="light-after">0</span>lx</div>
        </div>
        <div class="display-content">
          <div class="display-level">
            <span class="level-title">Mức độ:</span> <span class="light-level"></span>
          </div>
          <div class="display-suggest">
            <span class="suggest-title">Đề nghị:</span> <span class="light-suggest"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
